/* Google Search button Section */
body {
  margin: 0;
  padding: 0;
}

.google {
  align-content: center;
  justify-content: center;
  display: flex;
}

#goog {
  width: auto;
  height: 100px;
  margin-top: 10rem;
  margin-bottom: 0.8rem;
}

.searchbar {
  display: flex;
  align-items: center;
  width: 30%;
  margin: auto;
  height: 75px;
}

#search {
  width: 650px;
  height: 40px;
  align-content: center;
  border: 1px solid grey;
  border-radius: 60px;
  font-size: large;
  padding-left: 20px;
  padding-right: 20px;
}

button {
  background-color: whitesmoke;
  border: 1px solid #ccc;
  border-radius: 8px;
  color: black;
  font-size: 14px;
  padding: 8px 16px;
  margin: 0 auto;
  cursor: pointer;
  align-items: center;
}

.gooBut {
  align-items: center;
  margin-top: 20px;
  padding-left: 42%;
}

/* Both Header and Footer Section */
a {
  text-decoration: none;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: black;
}

a:active {
  color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navLink {
  float: left;
  text-decoration: underline;
  font-size: 14px;
  margin-right: 20px;
  padding: 10px
}

.navLink2 {
  float: right;
  text-decoration: underline;
  font-size: 14px;
  margin-right: 20px;
  padding: 10px;
}

.navBar {
  text-align: center;
  justify-content: space-between;
}

.footerDiv {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 5px 0;
  background-color: darkgray;
  height: 2rem;
}

.navFoot {
  font-size: 14px;
  float: left;
  margin-right: 20px;
  padding: 10px
}

.navFoot2 {
  font-size: 14px;
  float: right;
  margin-right: 20px;
  padding: 10px
}

/* Google Images Section */

#googImg {
  width: auto;
  height: 100px;
  margin-top: 10rem;
  margin-bottom: 0.8rem;
}

.Img {
  align-content: center;
  justify-content: center;
  display: flex;
}

.ImgSearch {
  border-radius: 8px;
  color: black;
  font-size: 14px;
  cursor: pointer;
  align-items: center;
  margin-top: 20px;
  padding-left: 48%;
}


